{% extends "base.html" %}

{% block title %}Editing {{ word }}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <table class="table">{{ form.as_table }}</table>
        <input type="submit" value="Submit">
    </form>
    {% if word %}
        <a href="{% url "dictionary:word.delete" pk=word.pk spelling=word.spelling %}">Delete</a>
        <a href="{% url "dictionary:word.detail" pk=word.pk spelling=word.spelling %}">Cancel</a>
    {% endif %}
{% endblock %}