{% load inflections %}
<table>
    <tr id="person">
        <th></th>
        <th colspan="2">First</th>
        <th colspan="2">Second</th>
        <th colspan="2">Third</th>
    </tr>
    <tr id="gender">
        <th></th>
        <th colspan="2"></th>
        <th>M</th>
        <th>F</th>
        <th>M</th>
        <th>F</th>
    </tr>
    <tr>
        <th>Singular</th>
        <td colspan="2">{% get_inflections verb person="first" count="singular" %}</td>
        <td>{% get_inflections verb person="second" gender="masculine" count="singular" %}</td>
        <td>{% get_inflections verb person="second" gender="feminine" count="singular" %}</td>
        <td>{% get_inflections verb person="third" gender="masculine" count="singular" %}</td>
        <td>{% get_inflections verb person="third" gender="masculine" count="singular" %}</td>
    </tr>
    <tr>
        <th>Dual</th>
        <td colspan="2"></td>
        <td>{% get_inflections verb person="second" gender="masculine" count="dual" %}</td>
        <td>{% get_inflections verb person="second" gender="feminine" count="dual" %}</td>
        <td>{% get_inflections verb person="third" gender="masculine" count="dual" %}</td>
        <td>{% get_inflections verb person="third" gender="feminine" count="dual" %}</td>
    </tr>
    <tr>
        <th>Plural</th>
        <td colspan="2">{% get_inflections verb person="first" gender="masculine" count="plural" %}</td>
        <td>{% get_inflections verb person="second" gender="masculine" count="plural" %}</td>
        <td>{% get_inflections verb person="second" gender="feminine" count="plural" %}</td>
        <td>{% get_inflections verb person="third" gender="masculine" count="plural" %}</td>
        <td>{% get_inflections verb person="third" gender="feminine" count="plural" %}</td>
    </tr>
</table>