{% extends "base.html" %}

{% block title %}{{ word }}{% endblock %}

{% block content %}
    <h1>{{ word }}</h1>
    {% include "word_info_table.html" with word=word %}
    {% if word.pos == "verb" %}<h3>Conjugations</h3> {% include "verb_inflection_table.html" with verb=word mood="indicative" tense="imperfect" %}{% endif %}
    {% if word.pos == "noun" %}<h3>Declensions</h3>{% include "noun_inflection_table.html" with noun=word state="construct" %}{% endif %}
    {% if word.pos == "adjective" %}<h3>Declensions</h3>{% include "adjective_inflection_table.html" with adjective=word %}{% endif %}
{% endblock %}